body {
    background-color: rgb(240, 240, 240);
    color: black;
    font-family: Arial, sans-serif;
    height:100vh;
    display: flex;
    padding-top: 56px;
}

.container-fluid{
    display: flex;
    width:100%
    margin:0px;
    padding:0px;
}

.content {
    padding: 20px;
    width:100%;
    justify-content: center;
    align-items: center;
}

.navbar{
    height:56px;
    top:0;
}


.navbar-fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    /* Ensure it sits above other content */
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    /* width: 100%; */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

.form-btn {
    text-align: center;
}

.btn-primary {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #ff6666;
}

.alert-success {
    background-color: #66ff66;
}

h1 {
    text-align: center;
}